{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Dashboard</h1>
    <p class="lead">Welcome to the dashboard. Here you can access various functions.</p>
    <hr class="my-4">
    <p>Use the buttons below to navigate to different sections.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Function 1</a>
    <a class="btn btn-secondary btn-lg" href="{{ url_for('students.users') }}" role="button">List of Students</a>
</div>
{% endblock %}